{
  title: "Name a Song by Its First Second: ’90<small>s</small> Edition"
  collapse_responders:true
  collapse_questions:true
  randomize_questions:false
  teaser:"Have a good ear? See if you can <a href=\"http://www.slate.com/blogs/browbeat/2014/06/20/hard_day_s_night_50th_anniversary_who_wrote_each_beatles_song_lennon_or.html\">tell whether John Lennon or Paul McCartney wrote each song on <em>A Hard Day's Night</em></a>."
  share:{
    facebook:"Can you identify a '90s song based only on its first second?"
    twitter:"Can you identify a '90s song based only on its first second? I scored %s out of %l."
    email:"Can you identify a '90s song based only on its first second?"
  }
  "questions": [
    {
      content: "What song is this?"
      sub:"Click the play button to listen to the first second. Simply begin typing to guess letters."
      type:"fill_in_the_blank"
      correct:"Smells Like Teen Spirit"
      sound:{
        id:"short/smells"
        autoplay:true
      }
      feedback:{
        content:"That was <strong>Nirvana, “Smells Like Teen Spirit”</strong>"
        sound:{
          id:"full/smells"
          autoplay:true
        }
      }
    }
    {
      content: "What song is this?"
      sub:"Click the play button to listen to the first second. Simply begin typing to guess letters."
      type:"fill_in_the_blank"
      correct:"Macarena"
      sound:{
        id:"short/macarena"
        autoplay:true
      }
      feedback:{
        content:"That was <strong>Los Del Rio, “Macarena.”</strong>"
        sound:{
          id:"full/macarena"
          autoplay:true
        }
      }
    }
    {
      content: "What song is this?"
      sub:"Click the play button to listen to the first second. Simply begin typing to guess letters."
      type:"fill_in_the_blank"
      correct:"Gangsta’s Paradise"
      sound:{
        id:"short/gangsters"
        autoplay:true
      }
      feedback:{
        content:"That was <strong>Coolio featuring L.V., “Gangsta’s Paradise.”</strong>"
        sound:{
          id:"full/gangsters"
          autoplay:true
        }
      }
    }
    {
      content: "What song is this?"
      sub:"Click the play button to listen to the first second. Simply begin typing to guess letters."
      type:"fill_in_the_blank"
      correct:"You're Still the One"
      sound:{
        id:"short/youre_still"
        autoplay:true
      }
      feedback:{
        content:"That was <strong>Shania Twain, “You're Still the One.”</strong>"
        sound:{
          id:"full/youre_still"
          autoplay:true
        }
      }
    }
    {
      content: "What song is this?"
      sub:"Click the play button to listen to the first second. Simply begin typing to guess letters."
      type:"fill_in_the_blank"
      correct:"Baby One More Time"
      sound:{
        id:"short/baby"
        autoplay:true
      }
      feedback:{
        content:"That was <strong>Britney Spears, “Baby One More Time.”</strong>"
        sound:{
          id:"full/baby"
          autoplay:true
        }
      }
    }
    {
      content: "What song is this?"
      sub:"Click the play button to listen to the first second. Simply begin typing to guess letters."
      type:"fill_in_the_blank"
      correct:"I Will Always Love You"
      sound:{
        id:"short/i_will"
        autoplay:true
      }
      feedback:{
        content:"That was <strong>Whitney Houston, “I Will Always Love You.”</strong>"
        sound:{
          id:"full/i_will"
          autoplay:true
        }
      }
    }
    {
      content: "What song is this?"
      sub:"Click the play button to listen to the first second. Simply begin typing to guess letters."
      type:"fill_in_the_blank"
      correct:"The Sign"
      sound:{
        id:"short/the_sign"
        autoplay:true
      }
      feedback:{
        content:"That was <strong>Ace of Base, “The Sign.”</strong>"
        sound:{
          id:"full/the_sign"
          autoplay:true
        }
      }
    }
    {
      content: "What song is this?"
      sub:"Click the play button to listen to the first second. Simply begin typing to guess letters."
      type:"fill_in_the_blank"
      correct:"Jeremy"
      sound:{
        id:"short/jeremy"
        autoplay:true
      }
      feedback:{
        content:"That was <strong>Pearl Jam, “Jeremy.”</strong>"
        sound:{
          id:"full/jeremy"
          autoplay:true
        }
      }
    }
    {
      content: "What song is this?"
      sub:"Click the play button to listen to the first second. Simply begin typing to guess letters."
      type:"fill_in_the_blank"
      correct:"I Want It That Way"
      sound:{
        id:"short/that_way"
        autoplay:true
      }
      feedback:{
        content:"That was <strong>Backstreet Boys, “I Want It That Way.”</strong>"
        sound:{
          id:"full/that_way"
          autoplay:true
        }
      }
    }
    {
      content: "What song is this?"
      sub:"Click the play button to listen to the first second. Simply begin typing to guess letters."
      type:"fill_in_the_blank"
      correct:"My Heart Will Go On"
      sound:{
        id:"short/my_heart"
        autoplay:true
      }
      feedback:{
        content:"That was <strong>Céline Dion, “My Heart Will Go On.”</strong>"
        sound:{
          id:"full/my_heart"
          autoplay:true
        }
      }
    }
    {
      content: "What song is this?"
      sub:"Click the play button to listen to the first second. Simply begin typing to guess letters."
      type:"fill_in_the_blank"
      correct:"Only Wanna Be With You"
      sound:{
        id:"short/only_wanna"
        autoplay:true
      }
      feedback:{
        content:"That was <strong>Hootie and the Blowfish, “Only Wanna Be With You.”</strong>"
        sound:{
          id:"full/only_wanna"
          autoplay:true
        }
      }
    }
    {
      content: "What song is this?"
      sub:"Click the play button to listen to the first second. Simply begin typing to guess letters."
      type:"fill_in_the_blank"
      correct:"You Oughta Know"
      sound:{
        id:"short/you_oughta_know"
        autoplay:true
      }
      feedback:{
        content:"That was <strong>Alanis Morissette, “You Oughta Know.”</strong>"
        sound:{
          id:"full/you_oughta_know"
          autoplay:true
        }
      }
    }
    {
      content: "What song is this?"
      sub:"Click the play button to listen to the first second. Simply begin typing to guess letters."
      type:"fill_in_the_blank"
      correct:"You Were Meant for Me"
      sound:{
        id:"short/you_were"
        autoplay:true
      }
      feedback:{
        content:"That was <strong>Jewel, “You Were Meant for Me.”</strong>"
        sound:{
          id:"full/you_were"
          autoplay:true
        }
      }
    }
    {
      content: "What song is this?"
      sub:"Click the play button to listen to the first second. Simply begin typing to guess letters."
      type:"fill_in_the_blank"
      correct:"Juicy"
      sound:{
        id:"short/juicy"
        autoplay:true
      }
      feedback:{
        content:"That was <strong>The Notorious B.I.G., “Juicy.”</strong>"
        sound:{
          id:"full/juicy"
          autoplay:true
        }
      }
    }
    {
      content: "What song is this?"
      sub:"Click the play button to listen to the first second. Simply begin typing to guess letters."
      type:"fill_in_the_blank"
      correct:"No Scrubs"
      sound:{
        id:"short/no_scrubs"
        autoplay:true
      }
      feedback:{
        content:"That was <strong>TLC, “No Scrubs.”</strong>"
        sound:{
          id:"full/no_scrubs"
          autoplay:true
        }
      }
    }
    {
      content: "What song is this?"
      sub:"Click the play button to listen to the first second. Simply begin typing to guess letters."
      type:"fill_in_the_blank"
      correct:"Nuthin' But a “G” Thang"
      sound:{
        id:"short/nuthin"
        autoplay:true
      }
      feedback:{
        content:"That was <strong>Jewel, “Nuthin’ But a ‘G’ Thang.”</strong>"
        sound:{
          id:"full/nuthin"
          autoplay:true
        }
      }
    }
  ]
}
