{
  title: "Can you identify each billboard hit by its first second?"
  collapse_responders:true
  collapse_questions:true
  randomize_questions:true
  share:{
    facebook:"Can you identify a hit song based only on its first second?"
    twitter:"Can you identify a hit song based only on its first second? I scored %s out of %l."
    email:"Can you identify a song based only on its first second?"
  }
  "questions": [
    {
      content: "Which song is this?"
      type:"fill_in_the_blank"
      correct:"Let It Go"
      sub:"Click the play button to listen to the first second."
      sound:{
        id:"let_it_go"
        autoplay:false
      }
      feedback:{
        content:"That was “Let It Go” by Idina Menzel."
        img:"let_it_go_full.jpg"
        sound:{
          id:"full_let_it_go"
          autoplay:true
        }
      }
    }
    {
      content: "Which song is this?"
      type:"fill_in_the_blank"
      correct:"Blurred Lines"
      sub:"Click the play button to listen to the first second."
      sound:{
        id:"blurred_lines"
        autoplay:false
      }
      type:"fill_in_the_blank"
      feedback:{
        content:"That was “Blurred Lines.”"
        sound:{
          id:"full_blurred_lines"
          autoplay:true
        },
        img:"blurred_lines_full.jpg"
      }
    }
    {
      content: "Which song is this?"
      type:"fill_in_the_blank"
      correct:"Call Me Maybe"
      sub:"Click the play button to listen to the first second."
      sound:{
        id:"call_me_maybe"
        autoplay:true
      }
      feedback:{
        content:"That was “Call Me Maybe.”"
        sound:{
          id:"full_call_me_maybe"
          autoplay:true
        }
        img:"carly_full.jpg"
      }
    }
    {
      content: "Which song is this?"
      type:"fill_in_the_blank"
      correct:"Fancy"
      sub:"Click the play button to listen to the first second."
      sound:{
        id:"fancy"
        autoplay:true
      }
      feedback:{
        content:"That was “Fancy.”"
        sound:{
          id:"full_fancy"
          autoplay:true
        }
        img:"fancy_full.jpg"
      }
    }
    {
      content: "Which song is this?"
      type:"fill_in_the_blank"
      correct:"Happy"
      sub:"Click the play button to listen to the first second."
      sound:{
        id:"happy"
        autoplay:true
      }
      feedback:{
        content:"That was “Happy.”"
        sound:{
          id:"full_happy"
          autoplay:true
        }
        img:"happy_full.jpg"
      }
    }
    {
      content: "Which song is this?"
      type:"fill_in_the_blank"
      correct:"Rude"
      sub:"Click the play button to listen to the first second."
      sound:{
        id:"rude"
        autoplay:true
      }
      feedback:{
        content:"That was “Rude” by Magic."
        sound:{
          id:"full_rude"
          autoplay:true
        }
        img:"rude_full.jpg"
      }
    }
    {
      content: "Which song is this?"
      type:"fill_in_the_blank"
      correct:"Radioactive"
      sub:"Click the play button to listen to the first second."
      sound:{
        id:"radioactive"
        autoplay:true
      }
      feedback:{
        content:"That was “Radioactive.”"
        sound:{
          id:"full_radioactive"
          autoplay:true
        }
        img:"radioactive_full.jpg"
      }
    }
    {
      content: "Which song is this?"
      type:"fill_in_the_blank"
      correct:"Problem"
      sub:"Click the play button to listen to the first second."
      sound:{
        id:"problem"
        autoplay:true
      }
      feedback:{
        content:"That was “Problem” by Ariana Grande."
        sound:{
          id:"full_problem"
          autoplay:true
        }
        img:"problem_full.jpg"
      }
    }
    {
      content: "Which song is this?"
      type:"fill_in_the_blank"
      correct:"Thrift Shop"
      sub:"Click the play button to listen to the first second."
      sound:{
        id:"thrift_shop"
        autoplay:true
      }
      feedback:{
        content:"That was “Thrift Shop.”"
        sound:{
          id:"full_thrift_shop"
          autoplay:true
        }
        img:"thrift_shop_full.jpg"
      }
    }
    {
      content: "Which song is this?"
      type:"fill_in_the_blank"
      correct:"We Are Young"
      sub:"Click the play button to listen to the first second."
      sound:{
        id:"we_are_young"
        autoplay:true
      }
      feedback:{
        content:"That was “We Are Young.”"
        sound:{
          id:"full_we_are_young"
          autoplay:true
        }
        img:"fun_full.jpg"
      }
    }
    {
      content: "Which song is this?"
      type:"fill_in_the_blank"
      correct:"Somebody That I Used To Know"
      sub:"Click the play button to listen to the first second."
      sound:{
        id:"somebody_that_i_used_to_know"
        autoplay:true
      }
      feedback:{
        content:"That was “Somebody That I Used To Know.”"
        sound:{
          id:"full_somebody_that_i_used_to_know"
          autoplay:true
        }
        img:"gotye_full.jpg"
      }
    }
    {
      content: "Which song is this?"
      type:"fill_in_the_blank"
      correct:"All Of Me"
      sub:"Click the play button to listen to the first second."
      sound:{
        id:"all_of_me"
        autoplay:true
      }
      feedback:{
        content:"That was “All Of Me” by John Legend."
        img:"all_of_me_full.jpg"
        sound:{
          id:"full_all_of_me"
          autoplay:true
        }
      }
    }
    {
      content: "Which song is this?"
      type:"fill_in_the_blank"
      correct:"Just Give Me A Reason"
      sub:"Click the play button to listen to the first second."
      sound:{
        id:"pink"
        autoplay:true
      }
      feedback:{
        content:"That was “Just Give Me A Reason” by P!nk."
        sound:{
          id:"full_pink"
          autoplay:true
        }
        img:"pink_full.jpg"
      }
    }
    {
      content: "Which song is this?"
      type:"fill_in_the_blank"
      correct:"Harlem Shake"
      sub:"Click the play button to listen to the first second."
      sound:{
        id:"harlem_shake"
        autoplay:true
      }
      feedback:{
        content:"That was “Harlem Shake.”"
        sound:{
          id:"full_harlem_shake"
          autoplay:true
        }
        img:"harlem_shake_full.jpg"
      }
    }
    {
      content: "Which song is this?"
      type:"fill_in_the_blank"
      correct:"Rolling In The Deep"
      sub:"Click the play button to listen to the first second."
      sound:{
        id:"rolling_in_the_deep"
        autoplay:true
      }
      feedback:{
        content:"That was “Rolling In The Deep.”"
        img:"adele_full.jpg"
        sound:{
          id:"full_rolling_in_the_deep"
          autoplay:true
        }
        img:"adele_full.jpg"
      }
    }
    {
      content: "Which song is this?"
      type:"fill_in_the_blank"
      correct:"Mirrors"
      sub:"Click the play button to listen to the first second."
      sound:{
        id:"mirrors"
        autoplay:true
      }
      feedback:{
        content:"That was “Mirrors.”"
        sound:{
          id:"full_mirrors"
          autoplay:true
        }
        img:"mirrors_full.jpg"
      }
    }
  ]
}
