{
  title: "The TV Theme Show Game"
  slug:"first_second"
  questions: [
    {
      content: "What modern TV show does this song describe?"
      sub:"Click the play button to listen to it. Simply start typing to enter your answer."
      type:"fill_in_the_blank",
      sound:{
        id:"gilligan"
        autoplay:"false"
      }
      correct:"Downton Abbey"
      feedback:{
        content:"That was <em>Downton Abbey</em>."
      }
    },
    {
      content: "On what old show's theme song was that based?"
      sub:"Click the play button to listen to it again."
      type:"fill_in_the_blank",
      sound:{
        id:"gilligan"
        autoplay:"false"
      }
      correct:"Gilligan's Island"
      feedback:{
        content:"That was <em>Gilligan's Island</em>."
      }
    },
    {
      content: "What modern TV show does this song describe?"
      sub:"Click the play button to listen to it."
      type:"fill_in_the_blank",
      sound:{
        id:"cheers"
        autoplay:"true"
      }
      correct:"Scandal"
      feedback:{
        content:"That was <em>Scandal</em>."
      }
    },
    {
      content: "On what old show's theme song was that based?"
      sub:"Click the play button to listen to it again."
      type:"fill_in_the_blank",
      sound:{
        id:"cheers"
        autoplay:"false"
      }
      correct:"Cheers"
      feedback:{
        content:"That was <em>Cheers</em>."
      }
    },
    {
      content: "What modern TV show does this song describe?"
      sub:"Click the play button to listen to it."
      type:"fill_in_the_blank",
      sound:{
        id:"different_strokes"
        autoplay:"true"
      }
      correct:"The Wire"
      feedback:{
        content:"That was <em>The Wire</em>."
      }
    },
    {
      content: "On what old show's theme song was that based?"
      sub:"Click the play button to listen to it again."
      type:"fill_in_the_blank",
      sound:{
        id:"different_strokes"
        autoplay:"false"
      }
      correct:"Different Strokes"
      feedback:{
        content:"That was <em>Different Strokes</em>."
      }
    },
    {
      content: "What modern TV show does this song describe?"
      sub:"Click the play button to listen to it."
      type:"fill_in_the_blank",
      sound:{
        id:"patty_duke"
        autoplay:"true"
      }
      correct:"The X-Files"
      feedback:{
        content:"That was <em>The X-Files</em>."
      }
    },
    {
      content: "On what old show's theme song was that based?"
      sub:"Click the play button to listen to it again."
      type:"fill_in_the_blank",
      sound:{
        id:"patty_duke"
        autoplay:"false"
      }
      correct:"Patty Duke"
      feedback:{
        content:"That was <em>Patty Duke</em>."
      }
    },
    {
      content: "What modern TV show does this song describe?"
      sub:"Click the play button to listen to it."
      type:"fill_in_the_blank",
      sound:{
        id:"welcome_back"
        autoplay:"true"
      }
      correct:"House"
      feedback:{
        content:"That was <em>House M.D.</em>."
      }
    },
    {
      content: "On what old show's theme song was that based?"
      sub:"Click the play button to listen to it again."
      type:"fill_in_the_blank",
      sound:{
        id:"welcome_back"
        autoplay:"false"
      }
      correct:"Welcome Back Kotter"
      feedback:{
        content:"That was <em>Welcome Back Kotter</em>."
      }
    },
    {
      content: "What modern TV show does this song describe?"
      sub:"Click the play button to listen to it."
      type:"fill_in_the_blank",
      sound:{
        id:"wkrp"
        autoplay:"true"
      }
      correct:"Mad Men"
      feedback:{
        content:"That was <em>Mad Men</em>."
      }
    },
    {
      content: "On what old show's theme song was that based?"
      sub:"Click the play button to listen to it again."
      type:"fill_in_the_blank",
      sound:{
        id:"wkrp"
        autoplay:"false"
      }
      correct:"Patty Duke"
      feedback:{
        content:"That was <em>WKRP</em>."
      }
    }
  ]
}
