{
  title: "Name These World Cup Countries From Space"
  description: "Guess what each World Cup country is
  based on aerial shots."
  blocked_choices: "true"
  attribution: "Images courtesy of NASA."
  randomize_choices: "true"
  questions:[
    {
      content:"What country is this?"
      img:"algeria.jpg"
      choices:[
        "*Algeria"
        "Cameroon"
        "Iran"
        "Nigeria"
      ]
      "feedback":"That's Algeria. Compared with crescent-shaped dunes
      (the most common type of dune on Earth), these
      star dunes in North Africa grow upward, not laterally.
      According to NASA: “As is common with star dunes,
      some of the dunes have long interlacing arms
      connecting to nearby dunes.”"
    },
    {
      content:"What country is this?"
      img:"argentina.jpg"
      choices:[
        "*Argentina"
        "Chile"
        "Costa Rica"
        "Ecuador"
      ],
      "feedback":"That's Argentina.
      The Paraná River is South America’s
      second-longest river. It’s famous for its carnivorous fish."
    },
    {
      content:"What country is this?"
      img:"australia.jpg"
      choices:[
        "*Australia"
        "Brazil"
        "Chile"
        "Mexico"
      ],
      "feedback":"That's Australia.
      As seen from the International Space Station, oxygen molecules
       in the Earth’s upper atmosphere exhibit a phenomenon called airglow, the
       greenish tint commonly seen in high-latitude auroras, also known as the
       Northern or Southern Lights."
    }
    {
      content:"What country is this?"
      img:"belgium.jpg"
      choices:[
        "*Belgium"
        "Netherlands"
        "France"
        "Germany"
      ]
      feedback:"That's Belgium.
      From space, cities such as Liege in northern Europe appear like
      glowing spider webs. The image was made possible by the European Space
      Agency’s Nodding mechanism, or NightPod, which compensates for the motion
      of the ISS relative to Earth."
    }
    {
      content:"What country is this?"
      img:"bosnia.jpg"
      choices:[
        "*Bosnia"
        "Croatia"
        "Greece"
        "Portugal"
      ]
      feedback:"That's Bosnia. Seen from the space shuttle, this almost entirely
      landlocked country is cold and snowy in the winter. According to NASA:
      “The Dinaric Alps that extend 400 miles (645 km) along the coast of the
      Adriatic Sea are composed of limestone and dolomite and are a barrier to
      travel from the coast to the interior; there are no natural passes.”"
    }
    {
      content:"What country is this?"
      img:"brazil.jpg"
      choices:[
        "*Brazil"
        "Mexico"
        "Russia"
        "United States"
      ]
      feedback:"That's Brazil. This country’s dense and complex network of
      rivers has helped turn it into an agricultural powerhouse."
    }
    {
      content:"What country is this?"
      img:"cameroon.jpg"
      choices:[
        "*Cameroon"
        "Ivory Coast"
        "Ghana"
        "Algeria"
      ]
      feedback:"That's Cameroon. Lac de Mbakaou is one of the largest man-made
      reservoirs in west-central Africa. Water draining from the highlands
      visible at the top of the image powers a hydroelectric dam at the
      base of the lake."
    }
    {
      content:"What country is this?"
      img:"chile.jpg"
      choices:[
        "*Chile"
        "Argentina"
        "Mexico"
        "Nigeria"
      ]
      feedback:"That's Chile. Much of the Atacama Desert receives less than a
      millimeter of rain per year. It’s the driest place on Earth. "
    }
    {
      content:"What country is this?"
      img:"colombia.jpg"
      choices:[
        "*Colombia"
        "Costa Rica"
        "Ecuador"
        "Mexico"
      ]
      feedback:"This is the Nevado del Ruiz Volcano, which NASA writes is
      “infamous for its deadly lahars.&#8221;"
    }
    {
      content:"What country is this?"
      img:"costa_rica.jpg"
      choices:[
        "*Costa Rica"
        "Colombia"
        "Iran"
        "Chile"
      ]
      feedback: "That's Costa Rica. According to NASA: “Since 2007, frequent
      acid rain showers caused by activity at the [Turrialba] volcano killed
      or damaged much of the vegetation to the southwest of the summit,
      leaving the area brown and orange.&#8221;"
    }
    {
      content:"What country is this?"
      img:"croatia.jpg"
      choices:[
        "*Croatia"
        "France"
        "Portugal"
        "Russia"
      ]
      feedback:"That's Croatia.
      This image was taken after a major winter storm crossed the
      Mediterranean in 2004. At the top center, this country’s mountains are
      blanketed in snow. Writes NASA: “Thick clouds of sediment hang in the
      shallow waters of the Gulf of Venice, but are dissipated in the deeper
      waters of the Adriatic.”"
    }
    {
      content:"What country is this?"
      img:"ivory_coast.jpg"
      choices:[
        "*Ivory Coast"
        "Algeria"
        "Camerooon"
        "Nigeria"
      ]
      feedback:"That's Ivory Coast. The evidence of fires is seen in this
      image of coastal West Africa, often the most efficient way to
      clear land for farmers."
    },
    {
      content:"What country is this?"
      img:"ecuador.jpg"
      choices:[
        "*Ecuador"
        "Argentina"
        "Brazil"
        "Chile"
      ]
      feedback:"That's Ecuador. This false-color image of the South American
      rainforest shows forested wetlands around the Napo River."
    }
    {
      content:"What country is this?"
      img:"england.jpg"
      choices:[
        "*England"
        "France"
        "Germany"
        "United States"
      ]
      feedback:"That's England. A mature cyclone appears as a comma-shaped
      cloud formation from space. The heaviest snow and rain are usually
      found in the “head” of the comma."
    }
    {
      content:"What country is this?"
      img:"france.jpg"
      choices:[
        "*France"
        "Italy"
        "Greece"
        "Portugal"
      ]
      feedback:"That's France. A phytoplankton bloom is seen via satellite off
      the European coastline. Writes NASA: “Swirls of green, turquoise, and
      cyan on the water surface show the location of these microscopic,
      plant-like organisms, while also tracing the currents and eddies
      that mix them.”"
    }
    {
      content:"What country is this?"
      img:"germany.jpg"
      choices:[
        "*Germany"
        "Switzerland"
        "Italy"
        "France"
      ]
      feedback:"That's Germany. The Rhine River is visible even at nighttime
      via the lights of the cities that surround it."
    }
    {
      content:"What country is this?"
      img:"ghana.jpg"
      choices:[
        "*Ghana"
        "Ecuador"
        "Japan"
        "Spain"
      ]
      feedback:"That's Ghana. This country’s Songor Lagoon is a UNESCO-protected
       biosphere reserve. According to NASA, it has “diverse landforms and
       ecological niches, including mudflats, islands, open water, small
       streams, sandy beaches, and salt pans. The lagoon is an important
       stopping-over point for migratory and other birds. It is also home to
       several species of endangered or threatened sea turtles.”"
    }
    {
      content:"What country is this?"
      img:"greece.jpg"
      choices:[
        "*Greece"
        "Italy"
        "Netherlands"
        "Portugal"
      ]
      feedback:"That's Greece.
      One of the world’s most famous archipelagos, this image was
      captured as the Space Shuttle Atlantis was flying over Europe."
    }
    {
      content:"What country is this?"
      img:"honduras.jpg"
      choices:[
        "*Honduras"
        "Ecuador"
        "Uruguay"
        "Brazil"
      ]
      feedback:"That's Honduras. This false-color image highlights tropical
      forests and the gently winding Coco River. Writes NASA: “This low-lying,
        wet area is called the Mosquito Coast, a corruption of the tribal name
        of some of the area’s native people, the Miskito.”"
    }
    {
      content:"What country is this?"
      img:"iran.jpg"
      choices:[
        "*Iran"
        "Mexico"
        "Australia"
        "Algeria"
      ]
      feedback:"That's Iran.
      This dramatic image shows the varied topography of this
      country’s largest desert. Writes NASA: “The Dasht-e Kevir is primarily
      uninhabited wasteland, composed of mud and salt marshes covered with
      crusts of salt that protect the meager moisture from completely
      evaporating.”"
    }
    {
      content:"What country is this?"
      img:"italy.jpg"
      choices:[
        "*Italy"
        "Japan"
        "England"
        "Netherlands"
      ]
      feedback:"That's Italy. Venice, one of the most famous island cities in
      the world, is seen here from the International Space Station, the red
      roof tiles contrasting sharply with the surrounding blue-green water."
    }
    {
      content:"What country is this?"
      img:"japan.jpg"
      choices:[
        "*Japan"
        "South Korea"
        "Ecuador"
        "Chile"
      ]
      feedback:"That's Tokyo. A large black spot near the city center marks
      the Imperial palace and garden."
    }
    {
      content:"What country is this?"
      img:"mexico.jpg"
      choices:[
        "*Mexico"
        "Honduras"
        "Argentina"
        "Chile"
      ]
      feedback:"That's Mexico. Here, writes NASA, “the Sierra Madre Oriental
      (Eastern Sierra Madres) cluster in densely packed rows of arcing
      ridgelines.”"
    }
    {
      content:"What country is this?"
      img:"netherlands.jpg"
      choices:[
        "*Netherlands"
        "Belgium"
        "France"
        "Ghana"
      ]
      feedback:"That's the Netherlands. These fields south of Den Helder are
      bright red because they’re growing tulips."
    }
    {
      content:"What country is this?"
      img:"nigeria.jpg"
      choices:[
        "*Nigeria"
        "Ghana"
        "Algeria"
        "Ivory Coast"
      ]
      feedback:"That's Nigeria. Writes NASA: “Once serving as part of the
      floor for a much larger Lake Chad, the area now known as the Bodele
      Depression, located at the southern edge of the Sahara Desert in north
      central Africa, is slowly being transformed into a desert landscape.”"
    }
    {
      content:"What country is this?"
      img:"portugal.jpg"
      choices:[
        "*Portugal"
        "France"
        "England"
        "Greece"
      ]
      feedback:"That's Portugal. Here, Europe’s “Bay Area” is seen from the
      International Space Station."
    }
    {
      content:"What country is this?"
      img:"russia.jpg"
      choices:[
        "*Russia"
        "Bosnia"
        "Iran"
        "Spain"
      ]
      feedback: "That's Russia.
      NASA writes: “This is neither an impact crater nor a volcano.
      It is a rare form of igneous intrusion called alkaline-ultrabasic massif
      and it is full of rare minerals.”"
    }
    {
      content:"What country is this?"
      img:"south_korea.jpg"
      choices:[
        "*South Korea"
        "Portugal"
        "Spain"
        "Iran"
      ]
      feedback: "This dramatic nighttime image shows a stark contrast in city
      lights, a proxy for the polar-opposite economies of these neighboring
      countries."
    }
    {
      content:"What country is this?"
      img:"spain.jpg"
      choices:[
        "*Spain"
        "United States"
        "Mexico"
        "Germany"
      ]
      feedback:"That's Spain. Two of the world’s largest solar plants,
      affectionately named PS10 and PS20, can be seen at the center-top
      of this false-color image. According to NASA: “Red indicates
      vegetation, shades of brown indicate bare ground and/or fallow fields,
      and blue indicates water. Human-made structures appear in shades of
      blue-gray. PS10 and PS20 appear as approximate circles punctuated by
      towers on their southern ends. Although less conspicuous than the
      circular arrays, rectangular arrays of mirrors operate south of the
      towers.”"
    }
    {
      content:"What country is this?"
      img:"switzerland.jpg"
      choices:[
        "*Switzerland"
        "United States"
        "Russia"
        "Argentina"
      ]
      feedback:"That's Switzerland. Mountain glaciers are seen in
      this rare angle from the International Space Station."
    }
    {
      content:"What country is this?"
      img:"united_states.jpg"
      choices:[
        "*United States"
        "Netherlands"
        "Algeria"
        "Mexico"
      ]
      feedback:"That's the United States. Offshore oil platforms are visible
      in this nighttime image that highlights human activity."
    }
    {
      content:"What country is this?"
      img:"uruguay.jpg"
      choices:[
        "*Uruguay"
        "Chile"
        "Ecuador"
        "Brazil"
      ]
      feedback:"The capital city of this country is visible as a small gray
      patch on the northern coast of one of South America’s largest
      estuaries."
    }
  ]
}
