<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
  <html>
    <head>
        <title>Simple Quiz</title>
        <script type="text/javascript" src="lib/jquery.min.js"></script>
        <script type="text/javascript" src="lib/require.js"></script>
        <script type="text/javascript" src="http://slate-static-prod.s3.amazonaws.com/etc/designs/slate/js/libs/modernizr-2.6.1.min.js"></script>
        <link type="text/css" href="http://slate-static-prod.s3.amazonaws.com/etc/designs/slate/css/story.c0b18d89.css" rel="stylesheet" />
        <!--<div id="fb-root"></div><script>window.fbAsyncInit = function(){FB.init({appId:'172274439518228',status:true,xfbml:true});};(function(d, s, id){var js, fjs = d.getElementsByTagName(s)[0];if (d.getElementById(id)) {return;}js = d.createElement(s); js.id = id;js.src = "//connect.facebook.net/en_US/all.js";fjs.parentNode.insertBefore(js, fjs);}(document, 'script', 'facebook-jssdk'));</script>-->
      </head>
    <body>
      <!-- RenderHTML -->
      <script type="text/javascript" src="script.js?v=<%=new Date().getTime()%>"></script>
      <link rel="stylesheet" href="styles.css?v=<%=new Date().getTime()%>"/>
      <!-- <div class="simple_quiz" data-slug="theme_song"></div> -->
      <div class="simple_quiz" data-slug="theme_song"></div>
      <!-- end RenderHTML -->
    </body>
</html>
