{
  title: "Can you identify each billboard hit by its first second?"
  slug:"first_second"
  blocked_choices:true
  exclusionary_choices:true
  collapse_choices:true
  collapse_questions:true
  share:{
    facebook:"Can you identify a song based only on its first second?"
    twitter:"Can you identify a song based only on its first second?
    I scored %score out of %question_length."
    email:""
  }
  choices:{
    round1:[
      {
        content:"Carly Rae Jepsen, &#8220;Call Me Maybe&#8221;"
        id:"call_me_maybe"
        img:'carly.jpg'
      }
      {
        id:"rolling_in_the_deep"
        img:'adele.jpg'
        content:"Adele, &#8220;Rolling In The Deep&#8221;"
      }
      {
        id:"we_are_young"
        img:"fun.jpg"
        content:"Fun, &#8220;We Are Young&#8221;"
      }
      {
        id:"payphone"
        img:"payphone.jpg"
        content:"Maroon Five, &#8220;Payphone&#8221;"
      }
      {
        id:"blurred_lines"
        img:"blurred_lines.jpg"
        content:"Robin Thicke, &#8220;Blurred Lines&#8221;"
      }
      {
        id:"roar"
        img:"roar.jpg"
        content:"Katy Perry, Roar"
      }
      {
        id:"thrift_shop"
        img:"thrift_shop.jpg"
        content:"Macklemore, &#8220;Thrift Shop&#8221;"
      }
      {
        id:"radioactive"
        img:"radioactive.jpg"
        content:"Imagine Dragons, &#8220;Radioactive&#8221;"
      }
      {
        id:"harlem_shake"
        img:"harlem_shake.jpg"
        content:"Baauer, &#8220;Harlem Shake&#8221;"
      }
      {
        id:"mirrors"
        img:"mirrors.jpg"
        content:"Justin Timberlake, &#8220;Mirrors&#8221;"
      }
    ]
    round2:[
      {
        id:"fancy"
        content:"&#8220;Fancy&#8221; by Iggy Azalea Charlie XCX"
      }
      {
        id:"problem"
        content:"&#8220;Problem&#8221; by Ariana Grande Iggy Azalea"
      }
      {
        id:"let_it_go"
        content:"&#8220;Let It Go&#8221; by Idina Menzel"
      }
      {
        id:"all_of_me"
        content:"&#8220;All of Me&#8221; by John Legend"
      }
      {
        id:"happy"
        content:"&#8220;Happy&#8221; by Pharrell Williams"
      }
      {
        id:"somebody_that_i_used_to_know"
        content:"&#8220;Somebody That I Used To Know&#8221; by Gotye"
      }
    ]
  }
  "questions": [
    {
      content: "Which song is this?"
      sub:"Click the play button to listen to the first second."
      choices:"round1"
      sound:{
        id:"blurred_lines"
        autoplay:false
      }
      correct:"blurred_lines"
      feedback:{
        content:"That was &#8220;Blurred Lines.&#8221;"
        sound:{
          id:"full_blurred_lines"
          autoplay:true
        },
        img:"blurred_lines_full.jpg"
      }
    }
    {
      content: "Which song is this?"
      sub:"Click the play button to listen to the first second."
      choices:"round1"
      sound:{
        id:"call_me_maybe"
        autoplay:true
      }
      correct:"call_me_maybe"
      feedback:{
        content:"That was &#8220;Call Me Maybe.&#8221;"
        sound:{
          id:"full_call_me_maybe"
          autoplay:true
        }
        img:"carly_full.jpg"
      }
    }
    {
      content: "Which song is this?"
      sub:"Click the play button to listen to the first second."
      choices:"round1"
      sound:{
        id:"harlem_shake"
        autoplay:true
      }
      correct:"harlem_shake"
      feedback:{
        content:"That was &#8220;Harlem Shake.&#8221;"
        sound:{
          id:"full_harlem_shake"
          autoplay:true
        }
        img:"harlem_shake_full.jpg"
      }
    }
    {
      content: "Which song is this?"
      sub:"Click the play button to listen to the first second."
      choices:"round1"
      sound:{
        id:"mirrors"
        autoplay:true
      }
      correct:"mirrors"
      feedback:{
        content:"That was &#8220;Mirrors.&#8221;"
        sound:{
          id:"full_mirrors"
          autoplay:true
        }
        img:"mirrors_full.jpg"
      }
    }
    {
      content: "Which song is this?"
      sub:"Click the play button to listen to the first second."
      choices:"round1"
      sound:{
        id:"payphone"
        autoplay:true
      }
      correct:"payphone"
      feedback:{
        content:"That was &#8220;Payphone.&#8221;"
        sound:{
          id:"full_payphone"
          autoplay:true
        }
        img:"payphone_full.jpg"
      }
    }
    {
      content: "Which song is this?"
      sub:"Click the play button to listen to the first second."
      choices:"round1"
      sound:{
        id:"radioactive"
        autoplay:true
      }
      correct:"radioactive"
      feedback:{
        content:"That was &#8220;Radioactive.&#8221;"
        sound:{
          id:"full_radioactive"
          autoplay:true
        }
        img:"radioactive_full.jpg"
      }
    }
    {
      content: "Which song is this?"
      sub:"Click the play button to listen to the first second."
      choices:"round1"
      sound:{
        id:"rolling_in_the_deep"
        autoplay:true
      }
      correct:"rolling_in_the_deep"
      feedback:{
        content:"That was &#8220;Rolling In The Deep.&#8221;"
        img:"adele_full.jpg"
        sound:{
          id:"full_rolling_in_the_deep"
          autoplay:true
        }
        img:"adele_full.jpg"
      }
    }
    {
      content: "Which song is this?"
      sub:"Click the play button to listen to the first second."
      choices:"round1"
      sound:{
        id:"thrift_shop"
        autoplay:true
      }
      correct:"thrift_shop"
      feedback:{
        content:"That was &#8220;Thrift Shop.&#8221;"
        sound:{
          id:"full_thrift_shop"
          autoplay:true
        }
        img:"thrift_shop_full.jpg"
      }
    }
    {
      content: "Which song is this?"
      sub:"Click the play button to listen to the first second."
      choices:"round1"
      sound:{
        id:"we_are_young"
        autoplay:true
      }
      correct:"we_are_young"
      feedback:{
        content:"That was &#8220;We Are Young.&#8221;"
        sound:{
          id:"full_we_are_young"
          autoplay:true
        }
        img:"fun_full.jpg"
      }
    }
    {
      content: "Which song is this?"
      sub:"Click the play button to listen to the first second."
      choices:"round2"
      sound:{
        id:"somebody_that_i_used_to_know"
        autoplay:true
      }
      correct:"somebody_that_i_used_to_know"
      feedback:{
        content:"That was &#8220;Somebody That I Used To Know.&#8221;"
        sound:{
          id:"full_somebody_that_i_used_to_know"
          autoplay:true
        }
      }
    }
    {
      content: "Which song is this?"
      sub:"Click the play button to listen to the first second."
      choices:"round2"
      sound:{
        id:"happy"
        autoplay:true
      }
      correct:"happy"
      feedback:{
        content:"That was &#8220;Happy.&#8221;"
        sound:{
          id:"full_happy"
          autoplay:true
        }
      }
    }
    {
      content: "Which song is this?"
      sub:"Click the play button to listen to the first second."
      choices:"round2"
      sound:{
        id:"fancy"
        autoplay:true
      }
      correct:"fancy"
      feedback:{
        content:"That was &#8220;Fancy.&#8221;"
        sound:{
          id:"full_fancy"
          autoplay:true
        }
      }
    }
  ]
}
